**/__pycache__/
/.vscode/
/.idea
/scpi/Examples/Digitizer_result/
/scpi/Examples/file/
/scpi/Examples/result/
/scpi/Examples/ttf_result/
/scpi/Examples/wave_file/
/scpi/Demos/result/
/scpi/Demos/fft_result/
/scpi/Demos/wave_file/
/.cache/
**/build/

/matlab/Examples/Digitizer_result/
/matlab/Examples/file/
/matlab/Examples/result/
/matlab/Examples/ttf_result/
/matlab/Examples/wave_file/

/ivi/C++/.idea
/ivi/C++/Examples/.idea
/ivi/Python
/ivi/win10-C++/.idea
/ivi/win10-C++/Demos
/ivi/win10-C++/Examples/.idea
/ivi/win10-C++/Examples/cmake-build-debug
/ivi/win10-C++/Examples/cmake-build-release

/ivi/win10-C++/Examples/IVI